body {
    background: black;
}

.logoandnav {
    display: inline-block;
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoandnav h1 {
    color: white;
    font-size: 50px;
    padding-left: 50px;
}

.logoandnav h1 span {
    color: rgb(8, 160, 26);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: rgb(8, 160, 26);
    font-size: 25px;
    font-weight: bold;
}

nav ul li :hover {

    transition: 0.3s;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
}

.colm0 {
    padding-top: 15px;
    padding-left: 50px;
    display: inline-block;
    width: 45%;
    height: 50vh;
    overflow: hidden;
    color: green;
}

.hello {
    position: relative;
    font-size: 1.4em;
    color:white;
}
span{
    padding-right: 0px;
    font-size: 1.8em;
    
}
.multitext {
    padding-right: 170px;
    font-size: 0.9em;
}

.buttons {
    position: relative;
    margin-top: -50px;
}

.downloadCv {
    position: relative;
    margin-left: 100px;
    font-weight: bolder;
    color: green;
    height: 40px;
    width: 150px;
    font-size: larger;
    background-color: white;
}

.downloadCv:hover {
    border-radius: 15%;
    transition: 0.2s;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    cursor: pointer;
}

.hireMe {
    position: relative;
    margin-left: 80px;
    font-weight: bolder;
    font-size: larger;
    color: green;
    height: 40px;
    width: 150px;
    background-color: white;
}

.hireMe:hover {

    border-radius: 15%;
    transition: 0.2s;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    cursor: pointer;
}

.imageContainer {
    display: block;
    z-index: 5;
    position: relative;
    margin-top: -380px;
    margin-left: 930px;

}

.imageContainer img {
    height: 390px;
    width: 390px;
}



.heading{
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    height: 40px;
}
.heading h1{
    padding-left: 20px;
}
.section1Heading{
    width: 110.5%;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: #ffffff;
    padding-left: 10px;
    font-size: 1.5em;
}
.uploadButton{
    position: relative;
    width: 110px;
    height: 50px;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    font-weight: bold;
    font-size: larger;
   
}
.takePhoto{
    position: relative;
    width: 110px;
    height: 50px;
    margin-left:33px ;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    font-weight: bold;
    font-size: larger;
   
}
.captureButton{
    position: relative;
    width: 110px;
    height: 50px;
    margin-left: 150px;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    position: relative;
    font-weight: bold;
    font-size: larger;
}
.liveStream{
    position: relative;
    width: 110px;
    height: 50px;
    margin-left: 30px;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    font-weight: bold;
    font-size: larger;
   
}
.generate{
    position: relative;
    width: 110px;
    height: 50px;
    margin-left: 650px;
    margin-top: 20px;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    font-weight: bold;
    font-size: larger;
   
}
.emoRecPro{
    position: relative;
    margin-left: 500px;
    width: 100%;
    
}
.liveResult{
    position: relative;
    margin-left: 590px;
}
.localVideo{
    position: relative;
    margin-top: 5px;
    margin-left: -80px;
 
    height: 250px;
}

.uploadButton:hover{
    color: green;
    background: #ffffff;
    transition:0.2s;
    border: 2px bold green;
    cursor: pointer;
}
.takePhoto:hover{
    color: green;
    background: #ffffff;
    transition:0.2s;
    border: 2px bold green;
    cursor: pointer;
}
.liveStream:hover{
    color: green;
    background: #ffffff;
    transition:0.2s;
    border: 2px bold green;
    cursor: pointer;
}

.generate:hover{
    color: green;
    background: #ffffff;
    transition:0.2s;
    border: 2px bold green;
    cursor: pointer;
}
.captureButton:hover{
    color: green;
    background: #ffffff;
    transition:0.2s;
    border: 2px bold green;
    cursor: pointer;
}
p{
    color:white;
    margin-left: 15px;
    font-size: larger;
}
.container{
    display: flex;
    width: 100%;
}
.section1{
    margin-top: 8px;
    padding-right: 150px;
    width: 100%;
    height: 75vh;
    border: 3px solid green;
    justify-content: space-around;
}
.prev{ 
    margin-top: 40px;
    margin-left: 530px;
    width: 150px;
    height: 30px;
    font-size: larger;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color:white;
    font-weight: bolder;
}
.next{
    margin-left: 50px;
    width: 150px;
    height: 30px;
    font-size: larger;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color:white;
    font-weight: bolder;
}
.prev:hover{
    background: white;
    color: green;
}
.next:hover{
    background: white;
    color: green;
}
.emoResult{
    display: none;
}





.certificateLabel{
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    margin-right: 10px;
    height:25%;
}
.certificateLabel h1{
        margin-left: 10px;
}
.Certificates{
    display: inline;
    position: relative;
    
}
.Certificates img{
    display: inline;
    margin-left: 50px;
    width:28%;
    height: 70%;
    cursor: pointer;
}
.Certificates img:hover{
    width: 29%;

}