body {
    background: black;
}

.logoandnav {
    display: inline-block;
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoandnav h1 {
    color: white;
    font-size: 50px;
    padding-left: 50px;
}

.logoandnav h1 span {
    color: rgb(8, 160, 26);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: rgb(8, 160, 26);
    font-size: 25px;
    font-weight: bold;
}

nav ul li :hover {

    transition: 0.3s;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
}

.colm0 {
    padding-top: 15px;
    padding-left: 50px;
    display: inline-block;
    width: 45%;
    height: 50vh;
    overflow: hidden;
    color: green;
}

.hello {
    position: relative;
    font-size: 1.4em;
    color:white;
}
span{
    padding-right: 0px;
    font-size: 1.8em;
    
}
.multitext {
    padding-right: 170px;
    font-size: 0.9em;
}

.buttons {
    position: relative;
    margin-top: -50px;
}

.downloadCv {
    position: relative;
    margin-left: 100px;
    font-weight: bolder;
    color: green;
    height: 40px;
    width: 150px;
    font-size: larger;
    background-color: white;
}

.downloadCv:hover {
    border-radius: 15%;
    transition: 0.2s;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    cursor: pointer;
}

.hireMe {
    position: relative;
    margin-left: 80px;
    font-weight: bolder;
    font-size: larger;
    color: green;
    height: 40px;
    width: 150px;
    background-color: white;
}

.hireMe:hover {

    border-radius: 15%;
    transition: 0.2s;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    cursor: pointer;
}

.imageContainer {
    display: block;
    z-index: 5;
    position: relative;
    margin-top: -380px;
    margin-left: 930px;

}

.imageContainer img {
    height: 390px;
    width: 390px;
}



.heading{
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    height: 40px;
}
h1{
    padding-left: 20px;
}   
.prjlst{
    display:inline-flex;
}

.container1{
    display: inline-block;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    width:30%;
    height: 50%;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    border: solid 2px white;
    
}
.container2{
display: inline-block;
color: white;
margin-top: 50px;
margin-left: 20px;
width:30%;
height: 50%;
background:linear-gradient(to right, green,rgb(10, 66, 5));
border: solid 2px white;
}
.container3{
    display: inline-block;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    width:30%;
    height: 50%;
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    border: solid 2px white;
    }
.container1:hover{ 
    background:black;
    color:white;
    cursor: pointer;
}

.container2:hover{ 
    background:black;
    color:white;
    cursor: pointer;
}
.container3:hover{ 
    background:black;
    color:white;
    cursor: pointer;
}

.certificateLabel{
    background:linear-gradient(to right, green,rgb(10, 66, 5));
    color: white;
    margin-right: 10px;
    height:25%;
}
.certificateLabel h1{
        margin-left: 10px;
}
.Certificates{
    display: inline;
    position: relative;
    
}
.Certificates img{
    display: inline;
    margin-left: 50px;
    width:28%;
    height: 70%;
    cursor: pointer;
}
.Certificates img:hover{
    width: 29%;

}